<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzap</title>
</head>

<body>
    <div id="app">


        <main id="site_main">
            <div class="container">

                <div class="left-container">
                    <!-- top-left bar -->
                    <div class="me-profile">
                        <div class="profile">
                            <img src="./assets/img/avatar_io.jpg" alt="">
                            <div>Sofia</div>
                        </div>
                        <div class="utilities">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- notification bar -->
                    <div class="notifications-pop-up">
                        <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="text-notification">
                            <div class="title"><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                            <div><a href="">Attiva notifichhe desktop</a></div>
                        </div>
                    </div>
                    <!-- search bar -->
                    <div class="search-bar">
                        <div>
                            <div class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <input class="text" type="text" placeholder="cerca o inizia una nuova chat" v-model="searchChat" @keyup="digit">
                        </div>
                    </div>


                    <!-- contact list -->
                    <div class="contacts-list">
                        <div class="contact" v-for="(contact, index) in contacts" @click="chooseContact(index)" v-show="contact.visible">
                            <div class="contact-photo"><img :src="contact.avatar" alt=""></div>
                            <div class="contact-name">
                                <div class="name">{{contact.name}}</div>
                                <div class="info">Ultimo messaggio inviato</div>
                            </div>
                            <div class="our">16:15</div>
                        </div>



                    </div>
                </div>
                <div class="right-container">
                    <!-- top-right bar -->
                    <div class="actual-contact">
                        <div class="name">
                            <div class="photo">
                                <img :src="actualContactImg" alt="">
                            </div>
                            <div class="contact-chat">
                                <div>{{actualContactName}}</div>
                                <div>{{lastAcces}}</div>
                            </div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>



                    <!-- message area -->
                    
                        <div class="message-area">
                            <div class="message-container">
                                <div class="message"  :class="{'recived-message': message.status === 'received', 'send-message': message.status === 'sent'}"  v-for="(message, index) in contacts[actualContactIndex].messages">
                                    <div>{{message.text}}</div>
                                    <div class="message-more">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <div class="more-action">
                                            <div>Info messaggio</div>
                                            <div @click="deleteMessage(index)">Cancella messaggio</div>
                                        </div>
                                    </div>
                                    <div class="our">{{message.date}}</div>
                                </div>
                                
                            </div>
                        </div>
                    


                    <!-- write area -->
                    <div class="write-area">
                        <div class="emoticons"><i class="fa-regular fa-face-smile"></i></div>
                        <input class="write-message" type="text" placeholder="scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                        <div class="vocal-message"><i class="fa-solid fa-microphone"></i></div>
                    </div>
                </div>
            </div>
        </main>
        <!-- /#site_main -->
    </div>
</body>

<script src="
https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js
"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./assets/js/main.js"></script>

</html>