/* #Region general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* #endRegion general */



/* Utilities */

/* Color palette  */
:root {
    --top-backround: #009688;
    --bottom-backround: #dadbd4;
    --top-bar: #eaeaea;
    --bottom-bar: #f3eeea;
    --searchbar-background: #fafafa;
    --top-icon: #b1b1b1;
    --bottom-icon: #6b7376;
    --send-message: #d5f9ba;
    --pop-up-color: #8edafc;
}


/* #region main */

#site_main {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--top-backround) 0%,
            var(--top-backround) 18%,
            var(--bottom-backround) 18%,
            var(--bottom-backround) 100%);
}


.container {
    width: 80vw;
    max-width: 1920px;
    height: 95vh;
    display: flex;
}

/* #region left side */

 .left-container {   /* top-left bar */
    width: 35%;
    height: 100%;
}

.me-profile {
    height: 4.5rem;
    display: flex;
    background-color: var(--top-bar);
    padding: 0.8rem 1rem;
}

.profile {
    height: 100%;
    display: flex;
    gap: 10px;
    
    & img {
        width: 100%;
        border-radius: 50%; 
    }

    & div {
        align-self: center;
    }
}


.utilities {
    width: 85%;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    color: var(--top-icon);
}

.notifications-pop-up {     /* notification bar */
    height: 5rem;
    padding: 0rem 1rem;
    background-color: var(--pop-up-color);
    display: flex;
    align-items: center;
}

.bell {
    height: 60%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pop-up-color);
    font-size: 1.4rem;

}

.text-notification {
    width: 85%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-notification a {
    color: rgb(66, 66, 66);
    font-size: 0.85rem;
}

.search-bar {       /* search bar */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 3.5rem;
}

.search-bar>div {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0.5rem;
    width: 96%;
    background-color: white;
    color: rgb(163, 163, 163);
    font-weight: 500;
    height: 2.5rem;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07);
}

.search-bar .icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .text {
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    align-self: center;
    height: 32px;
    border: none;
    
}

.contacts-list {    /* contact list */
    height: calc(100% - 13rem);
    overflow-y: auto;
    background-color: white;
}

.contact {
    height: 5rem;
    border-bottom: 2px solid rgb(246, 246, 246);
    display: flex;
    background-color: white;
    padding-left: 1rem;
}

.contact-photo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.contact img {
    height: 60%;
    border-radius: 50%;
}

.contact-name {
    width: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact .name {
    font-size: 1.3rem;
    font-weight: bold;
}
.contact .info {
    color: rgb(172, 172, 172);
}
.contact .our {
    width: 10%;
    background-color: white;
    padding-top: 1rem;
    color: rgb(172, 172, 172);
    font-size: 0.9rem;
    margin-right: 1rem;
}



/* #endregion left side */

/* #region right side */

.right-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.actual-contact{    /* top-right bar */
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--top-bar);
    border-left: 2px solid rgb(213, 213, 213);
}
.actual-contact .name {
    display: flex;
    align-items: center;
}

.actual-contact .photo {
    height: 100%;
}
.actual-contact img {
    height: 100%;
    border-radius: 50%;
    padding: 0.8rem;
}
.contact-chat div:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
}
.actual-contact .icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: var(--top-icon);
}


.message-area {     /* message area */
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y:auto;
    
}

.message-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 4rem;
}
.message {
    width: 60%;
    border-radius: 10px;
    padding: 1rem 1.8rem 1.2rem 1rem;
    position: relative;
    
    
}

.message-more {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--top-icon);
}
.message .our {
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    font-size: 0.6rem;
    color: var(--top-icon);
}

.send-message {     /* bottom right bar */
    
    background-color: var(--send-message);
    align-self: flex-end;
}

.recived-message {
    background-color: white;
}

.more-action {
    background-color: white;
    color: black;
    width: 10rem;
    position: absolute;
    right: 0rem;
    top: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07);
       display: none;
       z-index: 1;
}

.message-more:hover .more-action {
    display: flex;
}

.write-area {
    height: 4.5rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: var(--bottom-bar);
    border-left: 2px solid rgb(213, 213, 213);
}

.emoticons, .vocal-message {
    width: 5rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--bottom-icon);
}
 
.write-message {
    flex-grow: 1;
    height: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    color: rgb(163, 163, 163);
}
/* #endregion right side */

/* #endregion main */


@media screen and (max-width: 991px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
    
    .left-container {
        width: 5rem;
    }
    .profile img {
        padding: 0.8rem;
    }

    .contacts-list {
        height: calc(100% - 4.5rem);
    }
    .contact {
        padding: 0;
    }

    .notifications-pop-up,
    .search-bar,
    .utilities,
    .contact-name,
    .contact .our {
        display: none;
        width: 0;
    }

    .contact-photo,
    .profile {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .me-profile {
        padding: 0;
    }

    .message {
        padding-bottom: 3rem;
    }

}

@media screen and (max-width: 540px) {
    .left-container {
        display: none;
    }
    .message {
        padding-bottom: 1.5rem;
    }

    .emoticons {
        display: none;
    }
    .vocal-message {
        display: none;
    }

    .write-area {
        padding: 0 1rem;
    }
    .actual-contact .icon {
        display: none;
    }
}